@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    padding: 0 !important;
  }
  html, body {
    @apply bg-myMainBg
  }
  body {
    @apply text-white overflow-y-scroll overflow-x-hidden overscroll-none
  }
}

@layer components {
  .horizon_panel {
    @apply w-screen grow-0 shrink-0 w-screen h-screen before:absolute before:right-0 before:w-px before:h-[65vw] before:bg-white/25 before:top-1/2 before:-translate-y-1/2
  }
  .scroll__content-softedge {
    @apply before:top-0 before:left-0 before:z-10 before:absolute before:bg-white before:shadow-[0_8px_16px_4px_rgba(40,44,52)] before:-translate-y-full before:w-full before:h-8 after:bottom-0 after:left-0 after:z-10 after:absolute after:bg-white after:shadow-[0_-8px_16px_4px_rgba(40,44,52)] after:translate-y-full after:w-full after:h-8
  }
  .experience__timeline {
    @apply before:absolute before:z-20 before:-left-8 before:w-[2px] before:h-[calc(100%+64px)] before:bg-myLightGreen before:top-0
  }
  .experience__timeline--first {
    @apply before:absolute before:z-20 before:-left-8 before:w-[2px] before:h-[calc(50%+64px)] before:bg-myLightGreen before:top-1/2
  }
  .experience__timeline--last {
    @apply before:absolute before:z-20 before:-left-8 before:w-[2px] before:h-[calc(50%+64px)] before:bg-myLightGreen before:bottom-1/2
  }
  .experience__timeline__ball {
    @apply after:w-4 after:h-4 after:rounded-full after:bg-myLightGreen after:absolute before:z-20 after:-left-8 after:top-1/2 after:-translate-y-1/2 after:-translate-x-[calc(50%-1px)]
  }
}

@layer utilities {
  .horizontal__scroll-outer {
    transform: rotate(-90deg) translateX(-100vh);
    /* scrollbar-width: none; */
  }

  .horizontal__scroll-outer::-webkit-scrollbar {
    display: none;
  }

  .horizontal__scroll-inner {
    transform: rotate(90deg) translateY(-100vh);
  }
}